@import url("https://fonts.googleapis.com/css2?family=Inter&family=Russo+One&family=Work+Sans:wght@300&display=swap");

/***********************************
          CSS Variables
************************************/
:root {
  /* color */
  /* background: linear-gradient(95.79deg, #2317fa -33.63%, #d529e4 97.49%); */

  /* background: linear-gradient(95.48deg, #2317fa -1.25%, #d529e4 97.48%); */

  /* background: #231e44;
  background: #1d0c41; */
  --color-white: #ffffff;
  --color-purple: #8c21ed;
}

/***********************************
         Normalize CSS
************************************/
html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #1e1b3a;
  color: var(--color-white);
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-white) !important;
}

ul {
  list-style-type: none;
}

svg {
  color: var(--color-white);
  max-height: 2.5rem;
  cursor: pointer;
}

.content-title {
  font-family: "Russo One", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
}

.section-padding {
  padding: 2rem 0 0 1rem;
}

.custom-btn {
  background-color: transparent;
  outline: none;
  border: 2px solid transparent;
  color: var(--color-white) !important;
  border-image: linear-gradient(
    45deg,
    rgba(203, 40, 229, 1) 0%,
    rgba(107, 30, 241, 1) 52%
  );
  -moz-border-image: -moz-linear-gradient(
    45deg,
    rgba(203, 40, 229, 1) 0%,
    rgba(107, 30, 241, 1) 52%
  );
  -webkit-border-image: -webkit-linear-gradient(
    45deg,
    rgba(203, 40, 229, 1) 0%,
    rgba(107, 30, 241, 1) 52%
  );
  -webkit-border-image-slice: 2;
  border-image-slice: 2;
}
/***********************************
         Navbar CSS
************************************/

.brand-logo img {
  width: 130px;
}

.navbar-menu ul li a {
  margin: 0 1rem;
  line-height: 19px;
  padding: 0.5rem 1.2rem;
  border: 2px solid transparent;
}

.navbar-menu ul li a.active,
.navbar-menu ul li a:hover {
  border-image: linear-gradient(
    45deg,
    rgba(203, 40, 229, 1) 0%,
    rgba(107, 30, 241, 1) 52%
  );
  -moz-border-image: -moz-linear-gradient(
    45deg,
    rgba(203, 40, 229, 1) 0%,
    rgba(107, 30, 241, 1) 52%
  );
  -webkit-border-image: -webkit-linear-gradient(
    45deg,
    rgba(203, 40, 229, 1) 0%,
    rgba(107, 30, 241, 1) 52%
  );
  -webkit-border-image-slice: 2;
  border-image-slice: 2;
  color: var(--color-purple) !important;
}

/***********************************
         Footer CSS
************************************/
.subscription {
  border: 2px solid #454466;
  display: inline-block;
  margin-top: 2rem;
}

.subscription input {
  background: transparent;
  border: 0;
  outline: 0;
  padding: 0.5rem 1.2rem;
  color: var(--color-white);
}

.subscription button {
  padding: 0.5rem 1.2rem;
}

.copy-right-text {
  color: #6e7c9d;
  font-size: 1.2rem;
  font-weight: 400;
}
.footer .social svg {
  max-height: 2rem;
  height: 1.5rem;
  margin: 0px 1rem;
  fill: #5b5b5b;
}
