@import url("https://fonts.googleapis.com/css2?family=Inter&family=Russo+One&family=Work+Sans:wght@300&display=swap");

/***********************************
          CSS Variables
************************************/
:root {
  /* color */
  --color-white: #ffffff;
  --color-purple: #8c21ed;
  --color-dark-white: #dadada;

  /*Linear gradient background*/
  --linear-gradient-1: linear-gradient(
    95.79deg,
    #2317fa -33.63%,
    #d529e4 97.49%
  );
  --background-color: #1e1b3a;
}

/***********************************
         Normalize CSS
************************************/
html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--color-white);
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-white) !important;
}

ul {
  list-style-type: none;
}

svg {
  max-height: 2.5rem;
  cursor: pointer;
}

.content-title {
  font-family: "Russo One", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
}

.section-padding {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.custom-btn {
  background-color: transparent;
  outline: none;
  border: 2px solid transparent;
  color: var(--color-white) !important;
  border-image: var(--linear-gradient-1);
  -moz-border-image: -moz-var(--linear-gradient-1);
  -webkit-border-image: -webkit-var(--linear-gradient-1);
  -webkit-border-image-slice: 2;
  border-image-slice: 2;
}

.custom-alert{
  background-color: #2d2853;
  color: var(--color-dark-white);
  opacity: 0.5;
  margin: 30px;
}
/***********************************
         Custom Scrollbar CSS
************************************/

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--linear-gradient-1);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--linear-gradient-1);
}

/***********************************
         Navbar CSS
************************************/

.brand-logo img {
  width: 130px;
}

.navbar-menu ul li a {
  margin: 0 1rem;
  line-height: 19px;
  padding: 0.5rem 1.2rem;
  border: 2px solid transparent;
}

.navbar-menu ul li a.active,
.navbar-menu ul li a:hover {
  border-image: var(--linear-gradient-1);
  -moz-border-image: -moz-var(--linear-gradient-1);
  -webkit-border-image: -webkit-var(--linear-gradient-1);
  -webkit-border-image-slice: 2;
  border-image-slice: 2;
  color: var(--color-purple) !important;
}

.nav-sticky {
  position: fixed;
  width: 100%;
  background-color: var(--background-color);
  z-index: 9999;
}
/***********************************
         Header Banner CSS
************************************/
.header-banner {
  position: relative;
  background-color: #18163b;
  background-image: url("../images/asset2.png");
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
}

.header-content-inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header-content-inner > div {
  flex: 50%;
}
.header-banner::before {
  content: "";
  background-image: url("../images/Ellipse\ 1\ \(1\).png");
  background-size: 180px 280px;
  position: absolute;
  left: 0;
  bottom: 20%;
  background-repeat: no-repeat;
  width: 150px;
  height: 300px;
  display: inline-block;
}
.header-content-inner::before {
  content: "";
  background-image: url("../images/3\ 1\ \(2\).png");
  background-size: 100px 100px;
  position: absolute;
  top: 3%;
  left: -8%;
  background-repeat: no-repeat;
  width: 150px;
  height: 300px;
  display: inline-block;
}
.welcome-box-btn {
  background-color: #090909;
  padding: 0.5rem 1rem;
  border: 0;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-box-btn img {
  width: 50px;
  display: inline-block;
}

.welcome-box-btn span {
  background: var(--linear-gradient-1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  margin-left: 0.8rem;
}

.header-content-title {
  font-size: 5.16rem;
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 1rem;
}
.header-content-description {
  color: var(--color-dark-white);
  font-size: 1.37rem;
}
.header-content-btn {
  border: 0;
  outline: 0;
  background: var(--linear-gradient-1);
  padding: 1rem 2rem;
  color: var(--color-white);
  display: inline-block;
  border-radius: 5px;
}

.header-content-banner {
  background-image: url("../images/Vector\ 98.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

/***********************************
         Mission Section CSS
************************************/
.mission-card {
  background-color: #231e44;
  padding: 2rem;
  text-align: center;
  cursor: pointer;
  margin-top: 1rem;
}

.mission-card img {
  height: 120px;
}

.mission-card h4.mission-card-tilte {
  font-family: "Russo One", sans-serif;
  font-size: 1.87rem;
  margin-top: 30px;
}
.mission-card .mission-details {
  color: var(--color-dark-white);
  margin-top: 25px;
}
.mission-card-id-02 {
  background: var(--linear-gradient-1);
}

/***************************************
         Launches Rocket Section CSS
****************************************/
.rocket-filter-area {
  background-color: #2d2853;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}


.rocket-filter-area .css-1s2u09g-control,
.css-1pahdxg-control,
.rocket-filter-area input {
  background-color: transparent !important;
  border: 0;
}

.css-b62m3t-container {
  margin-left: 1.5rem;
}

.rocket-filter-area input {
  border: 1px solid var(--color-dark-white);
}

.rocket-searching-box {
  border: 1px solid var(--color-dark-white);
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}
.rocket-searching-box > input {
  border: 0;
  outline: 0;
  color: var(--color-white);
  padding: 0.3rem;
  padding-left: 0.5rem;
}
.rocket-searching-box button {
  border: 0;
  outline: 0;
  background-color: #090909;
  color: var(--color-white);
  padding: 0.3rem 1rem;
  border-radius: 5px;
}

/*Single Rocket Card*/
.launching-rocket-card {
  background-color: #1d0c41;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 30px;
  min-height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.launching-rocket-card img {
  /* height: 100px; */
  width: 144.54px;
}

.launching-rocket-card .mission-name {
  margin: 25px 0px;
  font-size: 1.8rem;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}

.launching-rocket-card h4 {
  font-size: 1.1rem;
  color: var(--color-dark-white);
}

.css-yyypgg-MuiButtonBase-root-MuiPaginationItem-root {
  color: var(--color-dark-white) !important;
  opacity: 0.4;
}

button.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeMedium.MuiPaginationItem-outline.MuiPaginationItem-circular.MuiPaginationItem-outlinePrimary.Mui-selected.MuiPaginationItem-page.css-yyypgg-MuiButtonBase-root-MuiPaginationItem-root {
  color: var(--color-white) !important;
  opacity: 1;
}
.loading-spinner p{
  margin-left: 25px;
}

/***********************************
         Footer CSS
************************************/
.subscription {
  border: 2px solid #454466;
  display: inline-block;
  margin-top: 2rem;
}

.subscription input {
  background: transparent;
  border: 0;
  outline: 0;
  padding: 0.5rem 1.2rem;
  color: var(--color-white);
}

.subscription button {
  padding: 0.5rem 1.2rem;
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copy-right-text {
  color: #6e7c9d;
  font-size: 1.2rem;
  font-weight: 400;
}
.footer .social svg {
  max-height: 2rem;
  height: 1.5rem;
  margin: 0px 1rem;
  fill: #5b5b5b;
}
